[Unit]
Description=talker daemon

[Service]
User=root
WorkingDirectory=/root/talker
# we assume /usr/bin/python exists, if not you should change this or create symbolic link
ExecStart=/usr/bin/python talker.py
Restart=always
StartLimitBurst=10

[Install]
WantedBy=multi-user.target